<launch>
    <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
        <rosparam>
            port: /dev/ttyACM0
            subscribers: [ chatter ]

        </rosparam>
    </node>
    <node pkg="rosserial_python" type="message_info_service.py"
          name="rosserial_message_info" />
</launch>
        <!--subscribers: [ cmd, lights ]-->